.btn {
  background: var(--c-accent);
  color: white;
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: transform .2s ease;
}

.btn:hover {
  transform: translateY(-2px);
}
.btn:focus-visible {
  outline: 3px solid var(--c-highlight);
}
.btn:active {
  transform: translateY(0);
}

.card {
  background: var(--c-card);
  border: 1px solid var(--c-border);
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  font-size: 23px;
}
.card p {
    font-size: 1.3rem;
    line-height: 1;  
}

.badge {
  background: var(--c-highlight);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  font-size: 0.8rem;
}
.listado li:first-child {
  font-weight: bold;
}
.listado li:last-child {
  opacity: 0.7;
}
.listado li:nth-child(2n) {
  background: hwb(0 100% 0%);
}

a[target="_blank"] {
  color: green;
}
img[alt] {
  border: 2px solid #ccc;
}
input[type="email"] {
  border: 2px solid var(--c-accent);
}
a[href^="https://"] {
  font-weight: bold;
}

.relative-box {
  position: relative;
  background: #f5f1f1;
  padding: 2rem;
}
.absolute-item {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--c-highlight);
  color: #000000;
  padding: .3rem .6rem;
  border-radius: 6px;
}

